[submodule "dependencies/lerobot"]
	path = dependencies/lerobot
	url = git@github.com:liuhb86/lerobot.git
[submodule "dependencies/Feetech-tuna"]
	path = dependencies/Feetech-tuna
	url = git@github.com:iotdesignshop/Feetech-tuna.git
[submodule "dependencies/joycon-robotics"]
	path = dependencies/joycon-robotics
	url = git@github.com:liuhb86/joycon-robotics.git
